#section05 {
  position: relative;
}
#section05 .video01 {
  position: absolute;
  left: 437px;
  top: 173px;
}
#section05 .site_btn {
  position: absolute;
  right: 406px;
  top: 98px;
  cursor: pointer;
}
/* -----------------section05 end---------------- */

#section09 {
  position: relative;
}
#section09 .pre_btn {
  position: absolute;
  left: 860px;
  top: 442px;
  transition: all 0.1s;
  cursor: pointer;
}

#section09 .pre_btn:hover {
  background-color: #009ae0;
}

#section09 .circle01 {
  position: absolute;
  left: 226px;
  top: -7px;
}

#section09 .circle {
  width: 9px;
  height: 9px;
  background: black;
  border-radius: 50%;
  transition: all 0.1s;
}

#section09 .btn:hover .circle {
  width: 10px;
  height: 10px;
  background: #009ae0;
}

#section09 .next_btn {
  position: absolute;
  left: 886px;
  top: 523px;
  transition: all 0.1s;
  cursor: pointer;
}
#section09 .next_btn:hover {
  background-color: #009ae0;
}
#section09 .circle02 {
  position: absolute;
  left: 171px;
  top: -5px;
}
